################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TED Downloader/bin/Debug
/TED Downloader/obj/x86/Debug
/TED Downloader/bin/x64/Debug
/TED Downloader/obj/x64
/TED Downloader/Images/Check
/TED Downloader/AboutLogo.png
/TED Downloader/AppStyles.xaml
/TED Downloader/Code base.txt
/TED Downloader/Download-icon.png
/TED Downloader/Images
/TED Downloader/Readme.txt
/TED Downloader/Release 2.txt
/TED Downloader/TED Downloader.csproj.user
/TED Downloader/TED_Boni.PNG
/TED Downloader/TED_Obin.PNG
/TED Downloader/Ted_SourceCode.txt
/TED Downloader/TED_Subtitles.txt
/TED Downloader/Upcoming_Releases.txt
/UpgradeLog.htm
/UpgradeLog2.htm
/TEDinator/bin
/TEDinator/obj
/TEDinator/TEDinator.csproj.user
/packages/Newtonsoft.Json.7.0.1
/TEDinator.sln.DotSettings.user
